<div class="max-w-screen-xl mx-auto">
  <h1 class="bg-gray-200 text-center py-5">
    Multi Routes / Single Component in Angular
  </h1>
  <div class="flex">
    <div class="bg-gray-200 w-30">
      <ul class="mr-12">
        <li class="p-2">
          <a routerLink="/programmatic/0">Programmatic Routing</a>
        </li>
        <li class="p-2">
          <a routerLink="/router-link/0">Routing with routerLink</a>
        </li>
      </ul>
    </div>
    <div class="p-8 flex-grow flex">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
